In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns

In [2]:
df=pd.read_csv('new.csv',index_col=0)

In [3]:
df.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PROD_WEIGHT_SIZE
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,175
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,170
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,175
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,150

In [4]:
lst=list(df.PROD_NAME)
len(lst)
lst[23]

'Kettle Sea Salt     And Vinegar 175g'

In [5]:
ls=[]

for i in lst:
    lst1=re.findall(r'[cC][hH]+[iI]*[cC]*[kK]{0,2}[ieIE]*[nN]',i)
    if len(lst1)==0:
        lst1=re.findall(r'[Ss][oO][uU][rR]\s?|[Cc][rR][eE]?[aA]?[mM]\s?\&|\&?[Oo][nN][iI][oO]?[nN]',i)
    else:
        ls.append('Chicken_flavour')
        continue
    if len(lst1)==0:
        lst1=re.findall(r'[cC][hH]+[iI]*[lL]+[ieIEyY]+|[Ss][pP][iI]*[Cc][yYiIeE]+|[Jj][eaA]*[lL]+[eaA]*[pP]+[iIeEn]+[n]*[o]*',i)
    else:
        ls.append('Sour_Cream/Onion')
        continue
    if len(lst1)==0:
        lst1=re.findall(r'[cC][hH]+[eE]*[zZsS]+[eyEY]+|[Mm][oO]?[z]+[a]?[r]+[e]*[l]+[a]+',i)
    else:
        ls.append('Chilli')
        continue
    if len(lst1)==0:
        lst1=re.findall(r'[Ss][Aa]*[Ll][tT][yY]*',i)
    else:
        ls.append('Cheese')
        continue
    if len(lst1)==0:
        lst1=re.findall(r'[Tt][oO]?[mM][aA]?[tT][oO]|[Tt][aA][nN][gG][iIyY]',i)
    else:
        ls.append('Salty')
        continue
    if len(lst1)==0:
        ls.append('Other_flavour')
    else:
        ls.append('Tomato/Tangy')

In [6]:
PROD_FLAVOUR=pd.Series(ls)

In [7]:
PROD_FLAVOUR.value_counts()

Other_flavour       89700
Salty               38564
Chilli              33124
Cheese              32652
Chicken_flavour     30793
Sour_Cream/Onion    26002
Tomato/Tangy        14001
dtype: int64

In [8]:
df.PROD_NAME

0           Natural Chip        Compny SeaSalt175g
1                         CCs Nacho Cheese    175g
2           Smiths Crinkle Cut  Chips Chicken 170g
3           Smiths Chip Thinly  S/Cream&Onion 175g
4         Kettle Tortilla ChpsHny&Jlpno Chili 150g
                            ...
264831     Kettle Sweet Chilli And Sour Cream 175g
264832               Tostitos Splash Of  Lime 175g
264833                    Doritos Mexicana    170g
264834     Doritos Corn Chip Mexican Jalapeno 150g
264835               Tostitos Splash Of  Lime 175g
Name: PROD_NAME, Length: 264836, dtype: object

In [9]:
df['PROD_FLAVOUR']=PROD_FLAVOUR

In [10]:
df.head(20)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PROD_WEIGHT_SIZE,PROD_FLAVOUR
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,Salty
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,175,Cheese
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,170,Chicken_flavour
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,175,Sour_Cream/Onion
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,150,Chilli
5,43604,4,4074,2982,57,Old El Paso Salsa Dip Tomato Mild 300g,1,5.1,300,Tomato/Tangy
6,43601,4,4149,3333,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7,330,Salty
7,43601,4,4196,3539,24,Grain Waves Sweet Chilli 210g,1,3.6,210,Chilli
8,43332,5,5026,4525,42,Doritos Corn Chip Mexican Jalapeno 150g,1,3.9,150,Chilli
9,43330,7,7150,6900,52,Grain Waves Sour Cream&Chives 210G,2,7.2,210,Sour_Cream/Onion
10,43602,7,7215,7176,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7,330,Salty
11,43332,8,8294,8221,114,Kettle Sensations Siracha Lime 150g,5,23.0,150,Other_flavour
12,43603,9,9208,8634,15,Twisties Cheese 270g,2,9.2,270,Cheese
13,43329,13,13213,12447,92,WW Crinkle Cut Chicken 175g,1,1.7,175,Chicken_flavour
14,43600,19,19272,16686,44,Thins Chips Light& Tangy 175g,1,3.3,175,Tomato/Tangy
15,43604,20,20164,17136,54,CCs Original 175g,1,2.1,175,Other_flavour
16,43330,20,20418,17413,94,Burger Rings 220g,4,9.2,220,Other_flavour
17,43326,22,22411,18646,98,NCC Sour Cream & Garden Chives 175g,1,3.0,175,Sour_Cream/Onion
18,43329,22,22456,18696,93,Doritos Corn Chip Southern Chicken 150g,1,3.9,150,Chicken_flavour
19,43601,23,23067,19162,56,Cheezels Cheese Box 125g,1,2.1,125,Cheese

In [11]:
df.describe()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES,PROD_WEIGHT_SIZE
count,264836.000000,264836.00000,2.648360e+05,2.648360e+05,264836.000000,264836.000000,264836.000000,264836.000000
mean,43464.036260,135.08011,1.355495e+05,1.351583e+05,56.583157,1.907309,7.304200,182.427004
std,105.389282,76.78418,8.057998e+04,7.813303e+04,32.826638,0.643654,3.083226,64.327196
min,43282.000000,1.00000,1.000000e+03,1.000000e+00,1.000000,1.000000,1.500000,70.000000
25%,43373.000000,70.00000,7.002100e+04,6.760150e+04,28.000000,2.000000,5.400000,150.000000
50%,43464.000000,130.00000,1.303575e+05,1.351375e+05,56.000000,2.000000,7.400000,170.000000
75%,43555.000000,203.00000,2.030942e+05,2.027012e+05,85.000000,2.000000,9.200000,175.000000
max,43646.000000,272.00000,2.373711e+06,2.415841e+06,114.000000,200.000000,650.000000,380.000000

In [12]:
df[df.TOT_SALES>3*np.percentile(df.TOT_SALES,[99.99])[0]]

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PROD_WEIGHT_SIZE,PROD_FLAVOUR
69762,43331,226,226000,226201,4,Dorito Corn Chp Supreme 380g,200,650.0,380,Other_flavour
69763,43605,226,226000,226210,4,Dorito Corn Chp Supreme 380g,200,650.0,380,Other_flavour

In [13]:
df_new=df.loc[df.TOT_SALES!=650,:]

In [14]:
df_new.describe()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES,PROD_WEIGHT_SIZE
count,264834.000000,264834.000000,2.648340e+05,2.648340e+05,264834.000000,264834.000000,264834.000000,264834.000000
mean,43464.036230,135.079423,1.355488e+05,1.351576e+05,56.583554,1.905813,7.299346,182.425512
std,105.389007,76.784063,8.057990e+04,7.813292e+04,32.826444,0.343436,2.527241,64.325148
min,43282.000000,1.000000,1.000000e+03,1.000000e+00,1.000000,1.000000,1.500000,70.000000
25%,43373.000000,70.000000,7.002100e+04,6.760050e+04,28.000000,2.000000,5.400000,150.000000
50%,43464.000000,130.000000,1.303570e+05,1.351365e+05,56.000000,2.000000,7.400000,170.000000
75%,43555.000000,203.000000,2.030940e+05,2.026998e+05,85.000000,2.000000,9.200000,175.000000
max,43646.000000,272.000000,2.373711e+06,2.415841e+06,114.000000,5.000000,29.500000,380.000000

In [15]:
df_new[(df.LYLTY_CARD_NBR==226000)]

<ipython-input-15-cba689c3f4af>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_new[(df.LYLTY_CARD_NBR==226000)]

Empty DataFrame
Columns: [DATE, STORE_NBR, LYLTY_CARD_NBR, TXN_ID, PROD_NBR, PROD_NAME, PROD_QTY, TOT_SALES, PROD_WEIGHT_SIZE, PROD_FLAVOUR]
Index: []

In [16]:
df_new.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PROD_WEIGHT_SIZE,PROD_FLAVOUR
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,Salty
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,175,Cheese
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,170,Chicken_flavour
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,175,Sour_Cream/Onion
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,150,Chilli

In [17]:
df[df.LYLTY_CARD_NBR==226000]

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PROD_WEIGHT_SIZE,PROD_FLAVOUR
69762,43331,226,226000,226201,4,Dorito Corn Chp Supreme 380g,200,650.0,380,Other_flavour
69763,43605,226,226000,226210,4,Dorito Corn Chp Supreme 380g,200,650.0,380,Other_flavour

In [18]:
df_transaction=df_new

In [19]:
df_customer=pd.read_csv('QVI_purchase_behaviour.csv',index_col=0)

In [20]:
df_customer.head()

                             LIFESTAGE PREMIUM_CUSTOMER
LYLTY_CARD_NBR
1000             YOUNG SINGLES/COUPLES          Premium
1002             YOUNG SINGLES/COUPLES       Mainstream
1003                    YOUNG FAMILIES           Budget
1004             OLDER SINGLES/COUPLES       Mainstream
1005            MIDAGE SINGLES/COUPLES       Mainstream

In [21]:
df_try=df_transaction.join(df_customer,on=df_transaction.LYLTY_CARD_NBR)

In [22]:
df_try.head(30)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PROD_WEIGHT_SIZE,PROD_FLAVOUR,LIFESTAGE,PREMIUM_CUSTOMER
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,Salty,YOUNG SINGLES/COUPLES,Premium
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,175,Cheese,MIDAGE SINGLES/COUPLES,Budget
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,170,Chicken_flavour,MIDAGE SINGLES/COUPLES,Budget
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,175,Sour_Cream/Onion,MIDAGE SINGLES/COUPLES,Budget
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,150,Chilli,MIDAGE SINGLES/COUPLES,Budget
5,43604,4,4074,2982,57,Old El Paso Salsa Dip Tomato Mild 300g,1,5.1,300,Tomato/Tangy,MIDAGE SINGLES/COUPLES,Budget
6,43601,4,4149,3333,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7,330,Salty,MIDAGE SINGLES/COUPLES,Budget
7,43601,4,4196,3539,24,Grain Waves Sweet Chilli 210g,1,3.6,210,Chilli,MIDAGE SINGLES/COUPLES,Budget
8,43332,5,5026,4525,42,Doritos Corn Chip Mexican Jalapeno 150g,1,3.9,150,Chilli,MIDAGE SINGLES/COUPLES,Budget
9,43330,7,7150,6900,52,Grain Waves Sour Cream&Chives 210G,2,7.2,210,Sour_Cream/Onion,MIDAGE SINGLES/COUPLES,Budget
10,43602,7,7215,7176,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7,330,Salty,MIDAGE SINGLES/COUPLES,Budget
11,43332,8,8294,8221,114,Kettle Sensations Siracha Lime 150g,5,23.0,150,Other_flavour,MIDAGE SINGLES/COUPLES,Budget
12,43603,9,9208,8634,15,Twisties Cheese 270g,2,9.2,270,Cheese,MIDAGE SINGLES/COUPLES,Budget
13,43329,13,13213,12447,92,WW Crinkle Cut Chicken 175g,1,1.7,175,Chicken_flavour,MIDAGE SINGLES/COUPLES,Budget
14,43600,19,19272,16686,44,Thins Chips Light& Tangy 175g,1,3.3,175,Tomato/Tangy,MIDAGE SINGLES/COUPLES,Budget
15,43604,20,20164,17136,54,CCs Original 175g,1,2.1,175,Other_flavour,MIDAGE SINGLES/COUPLES,Budget
16,43330,20,20418,17413,94,Burger Rings 220g,4,9.2,220,Other_flavour,MIDAGE SINGLES/COUPLES,Budget
17,43326,22,22411,18646,98,NCC Sour Cream & Garden Chives 175g,1,3.0,175,Sour_Cream/Onion,MIDAGE SINGLES/COUPLES,Budget
18,43329,22,22456,18696,93,Doritos Corn Chip Southern Chicken 150g,1,3.9,150,Chicken_flavour,MIDAGE SINGLES/COUPLES,Budget
19,43601,23,23067,19162,56,Cheezels Cheese Box 125g,1,2.1,125,Cheese,MIDAGE SINGLES/COUPLES,Budget
20,43604,25,25105,21815,7,Smiths Crinkle Original 330g,1,5.7,330,Other_flavour,MIDAGE SINGLES/COUPLES,Budget
21,43328,33,33081,29949,98,NCC Sour Cream & Garden Chives 175g,1,3.0,175,Sour_Cream/Onion,MIDAGE SINGLES/COUPLES,Budget
22,43328,36,36012,32077,31,Infzns Crn Crnchers Tangy Gcamole 110g,1,3.8,110,Tomato/Tangy,MIDAGE SINGLES/COUPLES,Budget
23,43331,36,36302,33188,32,Kettle Sea Salt And Vinegar 175g,1,5.4,175,Salty,MIDAGE SINGLES/COUPLES,Budget
24,43327,38,38142,34181,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,2,9.2,150,Chilli,MIDAGE SINGLES/COUPLES,Budget
25,43600,39,39144,35506,57,Old El Paso Salsa Dip Tomato Mild 300g,1,5.1,300,Tomato/Tangy,MIDAGE SINGLES/COUPLES,Budget
26,43331,39,39167,35638,111,Smiths Chip Thinly Cut Original 175g,2,6.0,175,Other_flavour,MIDAGE SINGLES/COUPLES,Budget
27,43600,41,41423,38393,46,Kettle Original 175g,1,5.4,175,Other_flavour,MIDAGE SINGLES/COUPLES,Budget
28,43327,41,41486,38472,13,Red Rock Deli Thai Chilli&Lime 150g,1,2.7,150,Chilli,MIDAGE SINGLES/COUPLES,Budget
29,43605,43,43110,39342,31,Infzns Crn Crnchers Tangy Gcamole 110g,1,3.8,110,Tomato/Tangy,MIDAGE SINGLES/COUPLES,Budget

In [23]:
df_try.isnull().sum()

DATE                0
STORE_NBR           0
LYLTY_CARD_NBR      0
TXN_ID              0
PROD_NBR            0
PROD_NAME           0
PROD_QTY            0
TOT_SALES           0
PROD_WEIGHT_SIZE    0
PROD_FLAVOUR        0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

In [24]:
df_try[(df_try.PROD_FLAVOUR.isnull())]

Empty DataFrame
Columns: [DATE, STORE_NBR, LYLTY_CARD_NBR, TXN_ID, PROD_NBR, PROD_NAME, PROD_QTY, TOT_SALES, PROD_WEIGHT_SIZE, PROD_FLAVOUR, LIFESTAGE, PREMIUM_CUSTOMER]
Index: []

In [25]:
df_final=pd.read_csv('cleaned_data.csv',index_col=0)
df_final.isnull().sum()

DATE                0
STORE_NBR           0
LYLTY_CARD_NBR      0
TXN_ID              0
PROD_NBR            0
PROD_NAME           0
PROD_QTY            0
TOT_SALES           0
PROD_WEIGHT_SIZE    0
PROD_FLAVOUR        2
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

In [26]:
df_final=df_try
df_final.to_csv('cleaned_data.csv')

In [27]:
df_final.isnull().sum()

DATE                0
STORE_NBR           0
LYLTY_CARD_NBR      0
TXN_ID              0
PROD_NBR            0
PROD_NAME           0
PROD_QTY            0
TOT_SALES           0
PROD_WEIGHT_SIZE    0
PROD_FLAVOUR        0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64